<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Autofill Report v1</title>
</head>
<body>
  <h1>Upload your report</h1>
  <form action="/" method="post" enctype="multipart/form-data">
    <fieldset style="width: fit-content;">
      <label for="loginname">XLSX File:</label>
      <input type="file" name="file" />
      <br/><br/>
      <button type="submit">Submit file</button>
    </fieldset>
  </form>
</body>
</html>